html {
  scroll-behavior: smooth;
}

p,
span {
  font-family: 'Hind Siliguri';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Darker Grotesque';
}

.primary-4 {
  color: #CABFAB;
}

.primary-3 {
  color: #DFD8C8;
}

.primary-2 {
  color: #52575D;
}

.primary-1 {
  color: #393E46;
}

.bg-primary-4 {
  background-color: #CABFAB;
}

.bg-primary-3 {
  background-color: #DFD8C8;
}

.bg-primary-2 {
  background-color: #52575D;
}

.bg-primary-1 {
  background-color: #393E46;
}